body{
    background: rgb(152, 200, 231);
    background: linear-gradient(90deg, rgba(152, 200, 231, 1) 34%, rgba(152, 200, 231, 1) 100%);
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    letter-spacing: 1px;
}
.title{
    text-align: center;
}
.raw-information{
    width: 70%;
    border: 2px solid black;
    padding: 1rem;
    position: absolute;
    left: 16%;
    top: 25%;
}
a{
    cursor: pointer;
    color: black;
}
@media only screen and (min-width: 1836px) and (max-width: 2500px){
    .raw-information {
        position: absolute;
        left: 10%;
        width: 80%;
    }
    p{
        font-size: 22px;
    }
}